.tabs {
  min-width: 502px;
  display: flex;
  cursor: pointer;

  &__hidden_radio {
    border: none;
    padding: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  &__tab {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border: solid 1px #dfe5ec;
    white-space: nowrap;

    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #4a4a4a;

    &:not(:last-child) {
      border-right-color: transparent;
    }

    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover:not(.tabs__active) {
      transition: 0.2s ease-in;
      border-color: #2196f3;
    }
  }

  &__active {
    background-color: #2196f3;
    border: 1px solid #2196f3;
    color: #ffffff;
    & + label {
      border-left-color: transparent;
    }

    &:hover {
      transition: 0.2s ease-in;
      background-color: #1e87dd;
    }
  }
}
